.pointsofinterest{
    display: flex;
    justify-content: space-around;
    flex-direction: column
}
.poiDiv {
    border: 2px;
    border-style: solid;
    border-color: black;
    margin: 2px;
    display: flex;
    flex-direction: column;
}